#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.special {
  color: red;
  font-size: 4rem;
}

button.down {
  color: red;
}
button.up {
  color: green;
}